/* sticky footer */
html,body{
    height: 100%;
}
#holder {
    min-height: 100%;
    position:relative;
}
#body {
    padding-bottom: 220px; /* should = (footer height) + (actual padding desired) */
	font-size: 18px;
}
#footer{
    bottom: 0;
    min-height: 180px; /* must match #body padding-bottom */
    left: 0;
    position: absolute;
    right: 0;
}
​/* END sticky footer */

#holder,
body {
	color: #ECE7CD;
	font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif;
}
a,a:link,a:visited,a:active {	
	color: #ECE7CD;
	text-decoration: none;
}

#holder,
body {	
	background-color: #5C5D61;
}

header {
	text-shadow: 2px 2px #333;
	padding-top: 10px;
	line-height: 1;
	margin-bottom: 50px;
}

h1 { font-size: 96px; }
h2 { font-size: 48px; }

h1,h2 {
	font-family: "Courier New";
	text-transform: lowercase;
	margin: 0;
}

footer {
	-moz-box-shadow: 0 -10px 10px #555;
	background-color: #868A81;
}
footer .main {
}

footer .twitter {
	padding: 15px 0 17px 0;
/*   -moz-box-shadow: 4px 0 4px -2px #555;
*/	margin-top: 0;
	margin-bottom: 0;
}
footer .twitter .handle {
	font-size: 18px;
	margin-bottom: 18px;
	font-weight: bold;
}
footer .twitter .bio {
	font-size: 12px;
	min-height: 50px;
	padding-right: 15px;
}

footer .credits {
	padding: 5px 0;
	background-color: #000;
	color: #868A81;
	background-color: #5C5D61;
	text-align: center;
	text-shadow: 1px 1px #333;
	font-size: 12px;
}
footer .credits a {
	color: #aaa;
}


#apps,
#me {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}

ul.stack { list-style: none; padding: 0; margin: 0; }
ul.stack li {
	padding: 0; margin: 0; 
	background-color: #868A81;
	padding: 5px 5px 5px 15px;
	margin-bottom: 10px;
}

#apps ul {
}

#apps ul li {
	padding-left: 25px;
	margin-bottom: 12px;
}

ul.stack li {
	width: 75%;
	-moz-box-shadow: 3px 3px 3px #333;
	-webkit-box-shadow: 3px 3px 3px #333;
	box-shadow: 3px 3px 3px #333;
}

ul.stack li:nth-child(n) { margin-left: 2px;  }
ul.stack li:nth-child(2n) { margin-left: 0px;}
ul.stack li:nth-child(3n) { margin-left: 6px;  }
ul.stack li:nth-child(4n) { margin-left: 3px; }
ul.stack li:nth-child(5n) { margin-left: 5px; }

ul.stack li:nth-child(n) { -moz-transform: rotate(0.2deg); }
ul.stack li:nth-child(2n) { -moz-transform: rotate(-0.2deg); }

#apps ul.stack li:hover { -moz-transform: rotate(0deg); } /* #me effect is not noticable on shorter width */

#apps ul.stack li:nth-child(n) { background-color: #3F5B91; }
#apps ul.stack li:nth-child(2n) { background-color: #E66047; }
#apps ul.stack li:nth-child(3n) { background-color: #868A81; }
#apps ul.stack li:nth-child(4n) { background-color: #ECE7CD; color: #666666; }
#apps ul.stack li:nth-child(4n) a { color: #666666; }

#apps ul.stack li div.coming-soon {
	display:none;
}

#apps ul.stack li.coming-soon div.coming-soon {
	display:block;
	background-image: url('../img/coming-soon.png');
	background-position: right;
	background-repeat: no-repeat;
	float: right;
    height: 54px;
    position: relative;
    top: -45px;
    width: 153px;
}

#apps ul.stack li.coming-soon,
#me ul.stack li.twitter {
	-moz-transform: rotate(0deg);
}

ul li.github { background-color: #000; color: #fff; }
ul li.linkedin { background-color: #4393BB; color: #fff; }
ul li.lastfm { background-color: #D51007; color: #fff; }
ul li.songkick { background-color: #fff; }
ul li.songkick a { color: #F80046; }
ul li.flickr { background-color: #FE63BB; color: #fff; }
ul li.twitter { background-color: #C0DEED; color: #000; }
ul li.twitter a { color: #000; }
ul li.instagram { background-color: #3F729B; }
ul li.instagram a { color: #fff; }

ul.stack.links li a {
	display:block;
}

ul.stack.news li a {
	text-decoration: underline;
	text-shadow: 1px 1px #666;
}
ul.stack.news li a.image {
	float:right;
}

.small {
	font-size: 12px;
}
