/* sticky footer */
html,body{
    height: 100%;
}
#holder {
    min-height: 100%;
    position:relative;
}
#body {
    padding-bottom: 220px; /* should = (footer height) + (actual padding desired) */
	font-size: 18px;
}
#footer{
    bottom: 0;
    min-height: 50px; /* must match #body padding-bottom */
    left: 0;
    position: absolute;
    right: 0;
}
​/* END sticky footer */

#holder,
body {
	color: #ECE7CD;
	font-family: "Courier New", "Lucida Grande",Arial,Helvetica,Verdana,sans-serif;
}
a,a:link,a:visited,a:active {
	color: #ECE7CD;
	text-decoration: none;
}

#header, #body, #footer {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

#holder,
body {
	background-color: #5C5D61;
}

#header {
	padding-top: 10px;
	line-height: 1;
	margin-bottom: 50px;
	position: relative;
}

h1 { font-size: 96px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }

@media(max-width: 640px) {
h1 { font-size: 48px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }

}
h1,h2, h3, h4 {
	font-family: "Courier New";
	text-transform: lowercase;
	margin: 0;
}

footer {
}
footer .main {
}

footer .twitter {
	padding: 15px 0 17px 0;
/*   -moz-box-shadow: 4px 0 4px -2px #555;
*/	margin-top: 0;
	margin-bottom: 0;
}
footer .twitter .handle {
	font-size: 18px;
	margin-bottom: 18px;
	font-weight: bold;
}
footer .twitter .bio {
	font-size: 12px;
	min-height: 50px;
	padding-right: 15px;
}

footer .credits {
	padding: 5px 0;
	background-color: #000;
	color: #868A81;
	background-color: #5C5D61;
	text-align: center;
	text-shadow: 1px 1px #333;
	font-size: 12px;
}
footer .credits a {
	color: #aaa;
}


ul.stack { 
	list-style: none; padding: 0; margin: 0; 
	
	>li {
		padding: 0; margin: 0;
		background-color: #868A81;
		padding: 5px 5px 5px 15px;
		margin-bottom: 10px;
	}
}

ul.stack>li,
.location {
  -moz-box-shadow: 3px 3px 3px #333;
  -webkit-box-shadow: 3px 3px 3px #333;
  box-shadow: 3px 3px 3px #333;  
}

ul.stack>li {
	width: 300px;
	display: inline-block;

	#apps & {
		padding: 20px 10px 10px 20px;
		margin: 0 10px 10px 0;
		vertical-align: top;		
	}

	#me & {
		width: auto;
		font-size: 14px;
		padding: 2px 5px;;
	}

	a {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
	}

	a span { text-transform: lowercase; }

	p.description {
		font-size: 13px;
		a {
			font-weight: normal;
			font-size: 13px;
		}
	}

	.mhd {
		margin-top: 10px;
		img, p {
			float:left;
			vertical-align: middle;
		}
		p {
			font-size: 14px;
			margin: 0;
		}
		img {
			width: 20px;
			margin-right: 10px;
			border-radius: 4px;
		}
	}

}

ul.tags.api {
	li {
		margin: 0 5px 0 0;
		font-size: 11px;
		background: #ccc;
		color: #333;
		display: inline-block;
		padding: 2px 5px;
	}
}

// ul.stack>li:nth-child(n) { margin-left: 2px;  }
// ul.stack>li:nth-child(2n) { margin-left: 0px;}
// ul.stack>li:nth-child(3n) { margin-left: 6px;  }
// ul.stack>li:nth-child(4n) { margin-left: 3px; }
// ul.stack>li:nth-child(5n) { margin-left: 5px; }

ul.stack>li:nth-child(n) { -moz-transform: rotate(0.2deg); }
ul.stack>li:nth-child(2n) { -moz-transform: rotate(-0.2deg); }

#apps ul.stack>li:hover { -moz-transform: rotate(0deg); } /* #me effect is not noticable on shorter width */

#apps ul.stack>li:nth-child(n) { background-color: #3F5B91; }
#apps ul.stack>li:nth-child(2n) { background-color: #E66047; }
#apps ul.stack>li:nth-child(3n) { background-color: #868A81; }
#apps ul.stack>li:nth-child(4n) { background-color: #ECE7CD; color: #666666; }
#apps ul.stack>li:nth-child(4n) a { color: #666666; }

#me ul.stack>li.twitter {
	-moz-transform: rotate(0deg);
}

#me {
	margin-top: 30px;
	a {
		text-transform: uppercase;
		font-size: 14px;
	}
	ul li iframe { vertical-align: middle; }
	ul li.github { background-color: #000; color: #fff; }
	ul li.linkedin { background-color: #4393BB; color: #fff; }
	ul li.lastfm { background-color: #D51007; color: #fff; }
	ul li.songkick { background-color: #fff; }
	ul li.songkick a { color: #F80046; }
	ul li.flickr { background-color: #FE63BB; color: #fff; }
	ul li.twitter { background-color: #C0DEED; color: #000; }
	ul li.twitter a { color: #000; }
	ul li.instagram { background-color: #3F729B; }
	ul li.instagram a { color: #fff; }
	ul li.bandcamp { color: #508699; }
	ul li.bandcamp a { color: #fff; }
	ul li.discogs { background: #222; color: #FFF }
}

ul.stack.links li a {
	display:block;
}

ul.stack.news li a {
	text-decoration: underline;
	text-shadow: 1px 1px #666;
}
ul.stack.news li a.image {
	float:right;
}

.small {
	font-size: 12px;
}

.location {

	margin: 50px 20px;

	float: right;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: normal;

    background: #eee;
    color: #555;
    padding: 10px;
    width: 175px;

    a {
    	color: #333;
    	font-weight: bold;
	}
}


